<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.akisan.akiblog.mapper.std_actvalarmMapper">
    <resultMap id="BaseResultMap" type="com.akisan.akiblog.entity.std_actvalarm">
        <id column="id" property="id"/>
        <result column="stdid" property="stdid"/>
        <result column="name" property="name"/>
        <result column="ifattempt" property="ifattempt"/>
    </resultMap>

    <select id="alarmResult" resultMap="BaseResultMap">
        SELECT *
        FROM std_actvalarm
        WHERE 1=1
        AND ifattempt <![CDATA[ = ]]> 0
    </select>


</mapper>
